/* IMPOSTAZIONE PAGINA */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Days One', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

/* /IMPOSTAZIONE PAGINA */

/* TITOLO */
h1 {
    color: rgb(241, 63, 226);
    font-family: 'Days One';
    margin-top: 35px;
    margin-bottom: 50px;
}

#intro-team {
    margin-bottom: 40px;
}

/* /TITOLO */

/* PRESENTAZIONE TEAM */
main {
    width: 100%;
}

.clearfix {
    overflow: auto;
    content: "";
    display: table;

}

.componenti-team {
    background-color: black;
    height: 100px;
    text-align: left;
    margin-left: 5px;
    width: 33%;
    float: left;
    width: calc(100% / 3 - 20px);
}

.float-left {
    float: left;
    border-radius: 50%;
    border: 1px solid white;
    height: 100px;
    margin-right: 20px;
}

h3 {
    color: white;
    font-family: 'Days One';
    padding-top: 10px;
    margin-bottom: 5px;
}

.professione {
    color: white;
    padding-bottom: 5px;
    font-size: 15px;
}

.indirizzo-email {
    color: rgb(7, 158, 239);
    text-decoration: underline;
    font-size: 15px;
}

/* /PRESENTAZIONE TEAM */