/* IMPOSTAZIONE PAGINA */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Days One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* /IMPOSTAZIONE PAGINA */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* TITOLO */
h1 {
    color: rgb(241, 63, 226);
    font-family: 'Days One';
    margin-top: 35px;
    margin-bottom: 50px;
}

h1,
.intro-team {
    text-align: center;
}

#intro-team {
    margin-bottom: 40px;
}

/* /TITOLO */

/* PRESENTAZIONE TEAM */

.contenitore {
    margin-top: 20px;
}

.componenti-team {
    background-color: black;
    color: white;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 8px 8px;
    box-shadow: 1px 1px 10px rgb(108, 105, 105);
}

.componenti-team .presentazione {
    float: left;
    padding: 20px;
    line-height: 1.3rem;
}

.componenti-team img {
    float: left;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
}

.componenti-team .indirizzo-email {
    color: rgb(7, 158, 239);
    text-decoration: none;
}

/* /PRESENTAZIONE TEAM */